/*
============================
General Rulesets
============================
*/
html {
    font-size: 16px;
    width: 100vw;
}

@media only screen and (max-width: 480px) {
    html {
        font-size: 14px;
    }
}

* {
    color: #ffffff;
}

body {
    font-family: Helvetica, sans-serif;
    background-image: url("../images/index\ background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    /* height: auto; */
}

a {
    text-decoration: none;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color:rgba(247, 93, 175, 0.7);
    height: 3rem;
    position: relative;
    bottom: 0;
    z-index: 20;
    margin-top: 4.2%;
}

header {
    display: flex;
    align-items: center;
    min-height: 5rem;
    background-color:rgba(247, 93, 175, 0.7);
    width: 100%;
    position: fixed;
    top: 0;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.nav-flex {
    display: grid;
    grid: 1fr / repeat(6, 1fr);
    justify-content: space-between;
    align-items: center;
}

.navbar {
    display: grid;
    justify-items: center;
    grid: 1fr / 25% 25% 50%;
    flex-flow: row;
}

.navbar li {
    display: inline-block;
    padding: 0 5px;
    width: auto;
}

.navbar li a {
    color: rgba(255, 255, 255, 0.8);
    font-weight: normal;
}

.navbar li a:hover, .navbar .current a{
    color: #4c7ef3;
    font-weight: 600;
}

h1.branding {
    font-weight: bolder;
    font-size: 3rem;
}

.branding {
    grid-area: 1 / 1 / span 1 / span 5;
    /* border: 2px solid greenyellow; */
}

.logo {
    color: #4c7ef3;
}



/*
============================= 
Home Page Rulesets 
=============================
*/


#introduction {
    text-align: center;
    margin-top: 10.2%;
    display: inline-block;
}

#introduction h1 {
    font-size: 3.75rem;
}

#introduction p {
    margin: 5% auto;
    font-weight: 400;
    line-height: 2.5rem;
    font-size: 1.5rem;
    /* display: block; */
}

#introduction a {
    display: block;
    width: 15%;
    padding: 2% 3%;
    margin: 0 auto;
    color: #ffffff;
    background-color: #4c7ef3;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    margin-bottom: 3rem;
}

#introduction a:hover{
    background-color: #26A69A;
}

.home-footer {
    margin-top: 3.9rem;
}

/* 
===============================
Store Page Rulesets 
===============================
*/
#showcase {
    margin-top: 5rem;
    /* margin-bottom: 15%; */
}

.instrument {
    width: 90%;
    overflow: auto;
    margin: 2% auto;
    padding: 2% 5%;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 0.5rem;
}

.instrument:last-of-type {
    margin-bottom: 0;
}

.image {
    display: inline-block;
    vertical-align: middle;
    width: 32%;
    min-width: 6.25rem;
    margin: 0 auto;
    height: 16rem;
    /* border: 2px solid red; */
    object-fit: cover;
}

.details {
    display: inline-block;
    vertical-align: top;
    width: 60%;
    padding: 2%;
}

.details h2 {
    font-weight: 600;
    padding-bottom: 1.5rem;
    font-size: 1.5rem;
    color: #4c7ef3;
}

.details p {
    line-height: 1.5rem;
    font-size: 1.25rem;

}

.name, .description, .price, del {
    color: #000000;
    text-align: left;
  }

  .description, .price {
    margin-top: 0;  
    margin-bottom: 16px;
  }

  .description {
    height: 100%;
    font-size: 13px;
    overflow: auto;
    color: rgba(0, 0, 0,0.8);
  }
  
  .price {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
  }
  
  .sale {
    margin-top: 0;
    margin-bottom: 0;
    color: #fa4359;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
  }

  .deal {
    color: green;
    font-weight: bold;
  }

  .store-footer {
    margin-top: 0;
  }
  /* 
  ================================
  Contact Page Rulesets 
  ================================
  */

#connection {
    width: 100%;
    margin-top: 10rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }


#top {
    margin: 5% auto;
}
  
#top h2 {
    margin: 3%;
    font-size: 3rem;
    font-weight: bold;
}
  
#top p {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2.5rem;
    margin: 5% auto;
}
  
.contact {
    margin: 0.5rem 2rem;
    display: inline-flex;
    flex-direction: column;
    width: 25%;
    height: 7rem;
    /* background-color: #4c7ef3; */
    padding: 2rem 1rem;
    vertical-align: middle;
    background-color: #4c7ef3;
    justify-content: center;
    color: #ffffff;
    border-radius: 0.5rem;
}

.contact:hover {
    background-color: #26A69A;
}
  
.contact p, .contact ul {
    /* margin: 1%; */
    /* padding: 1%; */
    padding-top: 1rem;
    line-height: 1.5rem;
    font-size: 1.25rem;
    /* color: rgba(0, 0, 0,0.8); */
}



.contact-footer {
    margin-top: 4rem;
}

#location li {
    padding-bottom: 1rem;
}
/*   
#location {
    margin: 0;
    padding: 0;
    list-style-type: none;
} */
  